/* ---------------Sidebar Component------------------*/
#sidebar {
  background: #7386d5;
  color: #fff;
  transition: all 0.3s;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #6d7fcc;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

.mobile {
  display: none;
}
.icon {
  margin-right: 10px;
}

.carrot {
  float: right;
}

#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #6d7fcc;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: none;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 20px !important;
  background: #6d7fcc;
}

ul ul ul a {
  font-size: 0.9em !important;
  padding-left: 40px !important;
  background: #6d7fcc;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
  text-align: center;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  text-align: center;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    text-align: center;
  }

  .icon {
    display: block;
    text-align: center;
    font-size: 2em;
  }
  .carrot {
    text-align: center;
  }
  .text {
    font-size: 0.6em;
  }
  .mobile {
    display: block;
    font-size: 2em;
    text-align: center !important;
  }

  ul ul a {
    padding-left: 0px !important;
    background: #6d7fcc;
  }

  ul ul ul a {
    padding-left: 0px !important;
    background: #6d7fcc;
  }

  #sidebar .sidebar-header strong {
    display: block;
    font-size: 1.8em;
  }
  .desktop {
    display: none;
  }
}
