<!-----------------------------Sidebar component------------------------->
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 p-0">
      <nav id="sidebar" class="h-100">
        <div class="sidebar-header">
          <h4 class="desktop">Select Grade</h4>
          <span class="mobile">
            <fa-icon [icon]="grade"></fa-icon>
          </span>
        </div>
        <ul class="list-unstyled components">
          <li *ngFor="let grade of grades; index as i">
            <a
              [href]="'#subjectSubmenu' + i"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle mobile"
              (click)="grade.active = !grade.active"
            >
              <span class="icon">{{ grade.id }}</span>
              <span class="text">{{ grade.name }}</span>
              <span class="carrot">
                <fa-icon
                  [icon]="downToggle"
                  *ngIf="grade.active; else upArrow"
                ></fa-icon>
                <ng-template #upArrow>
                  <fa-icon [icon]="upToggle"></fa-icon>
                </ng-template>
              </span>
            </a>
            <ul class="collapse list-unstyled" [id]="'subjectSubmenu' + i">
              <li *ngFor="let subject of grade.subjects; index as j">
                <a
                  [href]="'#topicSubmenu' + i + j"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle mobile"
                  (click)="subject.active = !subject.active"
                >
                  <span class="icon"
                    ><fa-icon [icon]="subject.icon"></fa-icon
                  ></span>
                  <span class="text">{{ subject.name }}</span>
                  <span class="carrot">
                    <fa-icon
                      [icon]="upToggle"
                      *ngIf="!grade.active && subject.active; else upArrow"
                    ></fa-icon>
                    <ng-template #upArrow>
                      <fa-icon [icon]="downToggle"></fa-icon>
                    </ng-template>
                  </span>
                </a>
                <ul
                  class="collapse list-unstyled"
                  [id]="'topicSubmenu' + i + j"
                >
                  <li *ngFor="let topic of subject.topics; index as k">
                    <a
                      class="mobile"
                      [routerLink]=""
                      (click)="selectTopic(grade, subject, topic)"
                    >
                      <span class="icon"
                        ><fa-icon [icon]="topic.icon"></fa-icon
                      ></span>
                      <span class="text">{{ topic.name }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!----------------------------------Main Component----------------------------->
    <div class="col-10">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]=""
            (click)="topic.active = !topic.active"
          >
            <span>{{ topic.name }}</span>
            <span *ngIf="topic.active != null">
              <fa-icon
                [icon]="upToggle"
                *ngIf="topic.active; else upArrow"
              ></fa-icon>
              <ng-template #upArrow>
                <fa-icon [icon]="downToggle"></fa-icon>
              </ng-template>
            </span>
          </a>
          <div class="dropdown-menu">
            <a
              class="dropdown-item"
              [routerLink]=""
              *ngFor="let content of topic.contents"
              (click)="selectContent(content, topic)"
              >{{ content.name }}</a
            >
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="showAnswer()">Answer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="next()">Next</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]=""
            >Print</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="" (click)="generatePDF()"
              >Current Sheet</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Answer Sheet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">10 StudySheets</a>
          </div>
        </li>
      </ul>
      <div class="row" *ngFor="let question of questions">
        <div class="col-sm-3" *ngFor="let ques of question">
          <div class="card p-2 m-2">
            <div class="card-body text-center">
              <h3>&nbsp;&nbsp;{{ ques.operand1 }}</h3>
              <h3>{{ ques.operator + ques.operand2 }}</h3>
              <hr />
              <div class="form-group justify-content-center">
                <input
                  type="number"
                  [(ngModel)]="ques.answer"
                  (blur)="checkAnswer(ques)"
                  class="form-control w-50 m-auto"
                />
                <div *ngIf="ques.checkAnswer != null">
                  <fa-icon
                    [icon]="check"
                    *ngIf="ques.checkAnswer; else wrong"
                  ></fa-icon>
                  <ng-template #wrong>
                    <fa-icon [icon]="cross"></fa-icon>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
