<!-----------------------------Sidebar component------------------------->
<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-2 p-0">
      <nav id="sidebar" class="h-100">
        <div class="sidebar-header">
          <h4 class="desktop">Select Grade</h4>
          <span class="mobile">
            <fa-icon [icon]="grade"></fa-icon>
          </span>
        </div>
        <ul class="list-unstyled components">
          <li *ngFor="let grade of grades; index as i">
            <a
              [href]="'#subjectSubmenu' + i"
              data-toggle="collapse"
              aria-expanded="false"
              class="dropdown-toggle mobile"
              (click)="grade.active = !grade.active"
            >
              <span class="icon">{{ grade.id }}</span>
              <span class="text">{{ grade.name }}</span>
              <span class="carrot">
                <fa-icon
                  [icon]="downToggle"
                  *ngIf="grade.active; else upArrow"
                ></fa-icon>
                <ng-template #upArrow>
                  <fa-icon [icon]="upToggle"></fa-icon>
                </ng-template>
              </span>
            </a>
            <ul class="collapse list-unstyled" [id]="'subjectSubmenu' + i">
              <li *ngFor="let subject of grade.subjects; index as j">
                <a
                  [href]="'#topicSubmenu' + i + j"
                  data-toggle="collapse"
                  aria-expanded="false"
                  class="dropdown-toggle mobile"
                  (click)="subject.active = !subject.active"
                >
                  <span class="icon"
                    ><fa-icon [icon]="subject.icon"></fa-icon
                  ></span>
                  <span class="text">{{ subject.name }}</span>
                  <span class="carrot">
                    <fa-icon
                      [icon]="upToggle"
                      *ngIf="!grade.active && subject.active; else upArrow"
                    ></fa-icon>
                    <ng-template #upArrow>
                      <fa-icon [icon]="downToggle"></fa-icon>
                    </ng-template>
                  </span>
                </a>
                <ul
                  class="collapse list-unstyled"
                  [id]="'topicSubmenu' + i + j"
                >
                  <li *ngFor="let topic of subject.topics; index as k">
                    <a
                      class="mobile"
                      [routerLink]=""
                      (click)="selectTopic(grade.id, subject.id, topic)"
                    >
                      <span class="icon"
                        ><fa-icon [icon]="topic.icon"></fa-icon
                      ></span>
                      <span class="text">{{ topic.name }}</span>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
    <!----------------------------------Main Component----------------------------->
    <div class="col-10">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]=""
          >
            <span>{{ topic.name }}</span>
          </a>
          <div class="dropdown-menu">
            <div *ngFor="let content of topic.contents; index as i">
              <a
                class="dropdown-item"
                [routerLink]=""
                (click)="getQuestion(content)"
                >{{ content.name }}</a
              >
              <div
                class="dropdown-divider"
                *ngIf="i != topic.contents.length - 1"
              ></div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="showAnswer()">Answer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="" (click)="next()">Next</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            [routerLink]=""
            >Print</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="" (click)="generatePDF()"
              >Current Sheet</a
            >
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Answer Sheet</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="print()">StudySheets</a>
          </div>
        </li>
      </ul>
      <div [ngSwitch]="content.id">
        <app-c5x4v [questions]="questions" *ngSwitchCase="1"></app-c5x4v>
        <app-c5x4v [questions]="questions" *ngSwitchCase="2"></app-c5x4v>
        <app-c5x4v [questions]="questions" *ngSwitchCase="3"></app-c5x4v>
        <app-c5x4h
          [questions]="questions"
          [contentType]="content.id"
          *ngSwitchCase="4"
        ></app-c5x4h>
        <app-c5x4h
          [questions]="questions"
          [contentType]="content.id"
          *ngSwitchCase="5"
        ></app-c5x4h>
        <app-c20x1 [questions]="questions" *ngSwitchCase="6"></app-c20x1>
        <app-print [questions]="questions" *ngSwitchDefault></app-print>
      </div>
    </div>
  </div>
</div>
