<button class="btn btn-primary m-1" (click)="addNewRow()">Add More</button>
<button class="btn btn-primary m-1" (click)="checkout()">Checkout</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Sl NO</th>
      <th scope="col">Grade</th>
      <th scope="col">Subject</th>
      <th scope="col">Topic</th>
      <th scope="col">Content</th>
      <th scope="col">No of Sheets</th>
      <th scope="col">Price</th>
      <th scope="col">Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let no of noOfOrders; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td class="form-group">
        <select
          class="form-control"
          id="gradeId"
          (change)="selectGrade($event.target.value, i)"
        >
          <option>Select</option>
          <option *ngFor="let grade of no.grades; index as j" [value]="j">
            {{ grade.name }}
          </option>
        </select>
      </td>
      <td class="form-group">
        <select
          class="form-control"
          id="subjectId"
          (change)="selectSubject($event.target.value, i)"
        >
          <option>Select</option>
          <option *ngFor="let subject of no.subjects; index as j" [value]="j">
            {{ subject.name }}
          </option>
        </select>
      </td>
      <td class="form-group">
        <select
          class="form-control"
          id="topicId"
          (change)="selectTopic($event.target.value, i)"
        >
          <option>Select</option>
          <option *ngFor="let topic of no.topics; index as j" [value]="j">
            {{ topic.name }}
          </option>
        </select>
      </td>
      <td class="form-group">
        <select
          class="form-control"
          id="contentId"
          (change)="selectContent($event.target.value, i)"
        >
          <option>Select</option>
          <option *ngFor="let content of no.contents; index as j" [value]="j">
            {{ content.name }}
          </option>
        </select>
      </td>
      <td class="form-group">
        <input
          type="number"
          class="form-control"
          [(ngModel)]="no.noOfSheet"
          id="noOfSheets"
          (change)="calculateRowTotal(no)"
        />
      </td>
      <td class="form-group">
        <label>{{ no.price | currency: "USD" }}</label>
      </td>
      <td class="form-group">
        <label>{{ no.totalCost | currency: "USD" }}</label>
      </td>
    </tr>
    <tr>
      <td colspan="7">total</td>
      <td>{{ total | currency: "USD" }}</td>
    </tr>
  </tbody>
</table>
