<div class="row" *ngFor="let question of questions">
  <div class="col-sm-3" *ngFor="let ques of question">
    <div class="card p-2 m-2">
      <div class="card-body text-center">
        <div class="form-inline justify-content-around">
          <div
            class="form-inline justify-content-around"
            *ngIf="contentType == 5; else normal"
          >
            <div [ngSwitch]="ques.answerLocation">
              <div *ngSwitchCase="0" class="form-inline justify-content-around">
                <input
                  type="number"
                  [(ngModel)]="ques.answer"
                  (blur)="checkAnswer(ques)"
                  class="form-control w-25"
                />
                <span class="h4">{{ " " + ques.operator + " " }}</span>
                <span class="h4">{{ ques.operand2 }}</span>
                <span class="h4">{{ " = " }}</span>
                <span class="h4">{{ ques.correctAnswer }}</span>
                <div *ngIf="ques.checkAnswer != null" class="text-center">
                  <fa-icon
                    [icon]="check"
                    *ngIf="ques.checkAnswer; else wrong"
                  ></fa-icon>
                  <ng-template #wrong>
                    <fa-icon [icon]="cross"></fa-icon>
                  </ng-template>
                </div>
              </div>
              <div *ngSwitchCase="1" class="form-inline justify-content-around">
                <span class="h4">{{ ques.operand1 }}</span>
                <span class="h4">{{ " " + ques.operator + " " }}</span>
                <input
                  type="number"
                  [(ngModel)]="ques.answer"
                  (blur)="checkAnswer(ques)"
                  class="form-control w-25"
                />
                <span class="h4">{{ " = " }}</span>
                <span class="h4">{{ ques.correctAnswer }}</span>
                <div *ngIf="ques.checkAnswer != null" class="text-center">
                  <fa-icon
                    [icon]="check"
                    *ngIf="ques.checkAnswer; else wrong"
                  ></fa-icon>
                  <ng-template #wrong>
                    <fa-icon [icon]="cross"></fa-icon>
                  </ng-template>
                </div>
              </div>
              <div *ngSwitchDefault class="form-inline justify-content-around">
                <span class="h4">{{ ques.operand1 }}</span>
                <span class="h4">{{ " " + ques.operator + " " }}</span>
                <span class="h4">{{ ques.operand2 }}</span>
                <span class="h4">{{ " = " }}</span>
                <input
                  type="number"
                  [(ngModel)]="ques.answer"
                  (blur)="checkAnswer(ques)"
                  class="form-control w-25"
                />
                <div *ngIf="ques.checkAnswer != null" class="text-center">
                  <fa-icon
                    [icon]="check"
                    *ngIf="ques.checkAnswer; else wrong"
                  ></fa-icon>
                  <ng-template #wrong>
                    <fa-icon [icon]="cross"></fa-icon>
                  </ng-template>
                </div>
              </div>
            </div>
          </div>
          <ng-template #normal>
            <span class="h4">{{ ques.operand1 }}</span>
            <span class="h4">{{ " " + ques.operator + " " }}</span>
            <span class="h4">{{ ques.operand2 }}</span>
            <span class="h4">{{ " = " }}</span>
            <input
              type="number"
              [(ngModel)]="ques.answer"
              (blur)="checkAnswer(ques)"
              class="form-control w-25"
            />
            <div *ngIf="ques.checkAnswer != null" class="text-center">
              <fa-icon
                [icon]="check"
                *ngIf="ques.checkAnswer; else wrong"
              ></fa-icon>
              <ng-template #wrong>
                <fa-icon [icon]="cross"></fa-icon>
              </ng-template>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
