<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="showAnswer()"
      >
        Answer
      </button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-lg btn-block p-2">
        Previous
      </button>
    </div>
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="next()"
      >
        Next
      </button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-lg btn-block p-2">
        Last
      </button>
    </div>
    <div class="col-sm-2">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="generatePDF()"
      >
        Print
      </button>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-primary btn-lg btn-block p-2">
        Check
      </button>
    </div>
  </div>
  <div class="row" *ngFor="let question of questions">
    <div class="col-sm-3" *ngFor="let ques of question">
      <div class="card">
        <div class="card-body text-center">
          <h3>&nbsp;&nbsp;{{ ques.operand1 }}</h3>
          <h3>{{ ques.operator + ques.operand2 }}</h3>
          <hr />
          <input type="number" [(ngModel)]="ques.answer" />
        </div>
      </div>
    </div>
  </div>
</div>
