<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="first()"
      >
        First
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="previous()"
      >
        Previous
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="next()"
      >
        Next
      </button>
    </div>
    <div class="col-sm-3">
      <button
        type="button"
        class="btn btn-primary btn-lg btn-block p-2"
        (click)="last()"
      >
        Last
      </button>
    </div>
  </div>
</div>
